<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
	<connectionStrings>
		<clear />
		<add name="KpHappyConnection" providerName="System.Data.SqlClient" connectionString="Data Source=ADMIN\SQLEXPRESS2012,1433;Initial Catalog=KpHappyOnlineShop;Integrated Security=False;User Id=sa;Password=123123;MultipleActiveResultSets=True" />
	</connectionStrings>
</configuration>